 .button {
    font-family: serif;
    text-decoration-color: white;
    background-color: #dd4200;
    border-radius: 100%;
    width: 16px;
    align-content: center;
    font-weight: 600;
}

.button :hover{
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}